<h1>
Bienvenido a YanKenPon  <%= @nombre %>
</h1>




<form method="post" action="/play">

<p>
<input type="submit" value="jugador1"> Valor seleccionado J1:  <u> <%= @seleccionj1 %> </u>
</p>

<p>
<input type="submit" value="jugador2"> Valor seleccionado J2:  <u> <%= @seleccionj2 %> </u>
</p>

<p>
Resultado Partido:  <u> <%= @resultado %> </u>
</p>


</form>


