<h1>
Bienvenido a YanKenPon  <%= @nombre %>
</h1>




<form method="post" action="/inicio" name="form1">

<p>
Ingrese valor <input type="text" name="j1">
<p>


<p>
<input type="submit" value="Jugar"> 
</p>

<p>
Valor seleccionado J2:  <u> <%= @seleccionj2 %> </u>
</p>

<p>
Resultado Partido:  <u> <%= @resultado %> </u>
</p>


</form>


