<h2>
Juego 
<h2>

<form method="post" action="/saludar">

<p>
Nombre <input type="text" name="nombre">
<p>
Email <input type="text" name="email">
<p>
<input type="submit" value="Saludar">

</form>

<a href="personal.com.ar">Personal</a>
