<h2>
Formulario de Tenis
</h2>

<p>
<%= @resultado %>

<form method="post" action="/puntoa" >
	<Input type="submit" value="A">
</form>

<form method="post" action="/puntob" >
	<Input type="submit" value="B">
</form>


